:root {
	--primary: #AA0505;
	--primary-dark: #6A0C0B;
	--secondary: #FBCA03;
	--secondary-dark: #B97D10;
	--terciary: #67C7EB;

	--marvel-red: #ED1D24;
	--accent-color: var(--marvel-red);
	--light-text: #FFF;
}